  <div class="banner_show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container text-white">
      <h1><%= @list.name%></h1>
      <p><%=link_to "add movies", new_list_bookmark_path(@list), class:"btn btn-outline-warning"%></p>
    </div>
  </div>
  <ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li>Title:  <%= bookmark.movie.title%> </li>
    comment:  <%= bookmark.comment %>
  <% end %>
  </ul>


  <h1>Leave a Review:</h1>
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.button :submit %>
  <% end %>


  <h1>Reviews:</h1>
  <% @list.reviews.each do |review| %>
    <%= review.comment %> - Rating: <%= review.rating.to_i%>
  <% end %>
